# 用户信息，用于标识提交者身份
[user]
  name = Ricardo_T8
  email = ricardoryn1317@gmail.com

# Gitee 的凭据设置，使用通用方式（generic）管理凭据
[credential "https://gitee.com"]
  provider = generic

# 初始化仓库时默认分支名为 main（而不是 master）
[init]
  defaultBranch = main

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
  features = catppuccin-latte

[merge]
  conflictStyle = zdiff3

[include]
  path = C:/Users/RicardoRyn/dotfiles/catppuccin.gitconfig
