configuration {
font: "Maple Mono NF CN 15";
show-icons: true;
icon-theme: "Adwaita";

display-drun: " ";
display-window: " ";
display-run:  " ";
display-ssh: "󰣀 ";
display-clipboard: " ";
drun-display-format: "{name}";

disable-history: false;
sidebar-mode: true;
modi:  [drun, window, run, ssh];
}
@theme "/usr/share/rofi/themes/paper-float.rasi"
